<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <div class="left-side"></div>
  <div class="right-side">
    <div class="header">
      <img src="assets/logo.png" alt="NewBank Logo" class="logo" />
      <span class="company-name">NewBank</span>
    </div>
    <h1>Welcome Back</h1>
    <label for="username">Username</label>
    <app-login-field fieldType="text" id="username"></app-login-field>

    <label for="password">Password</label>
    <app-login-field fieldType="password" id="password"></app-login-field>

    <button class="login-button">Login</button>
  </div>
</div>
