.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}